li {
    list-style-type: none;
    outline: 1px;
    outline-style: solid;
    width: 120px;
    justify-items: center;
    display: inline-block;
    overflow-x: hidden;
}

ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
