li {
    list-style-type: none;
    outline: 1px;
    outline-style: solid;
    width: 120px;
    justify-items: center;
    display: inline-block;
    overflow-x: hidden;
}

ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}

.vertline {
    outline-style: solid;
    height: 20vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.me {
    flex-grow: 1;
}

.them {
    flex-grow: 2;
    outline-style: solid;
    outline-width: 2px;
}
